<!DOCTYPE html>
<html>
  <head>
    <title>Account</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap"
      rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/c07354a221.js"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="NavBar">
          <div class="logo">
            <img src="./images/logo.png" width="125px" />
          </div>
          <nav>
            <ul id="MenuItems">
              <li><a href="./index.html"> Home </a></li>
              <li><a href="./products/product.html"> Product </a></li>
              <li><a href="./products/AddProduct.html">Post Product</a></li>
              <li><a href="./account.html"> Account </a></li>
            </ul>
          </nav>
          <a href="./products/cart.html"
            ><img src="./images/cart.png" width="30px" height="30px"
          /></a>
          <img src="./images/menu.png" class="menu" onclick="menutoggle()" />
        </div>
      </div>
    </div>

    <div class="small-container">
      <h1>Account</h1>
      <div class="input-group">
        <label id="Username">Username:</label>

        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password" />

        <label for="address">Address:</label>
        <input
          type="text"
          id="address"
          name="address"
          placeholder="Enter your address" />

        <label for="phone">Phone:</label>
        <input
          type="text"
          id="phone"
          name="phone"
          placeholder="Enter your phone number" />
      </div>
      <div class="btn-group">
        <button type="button" id="commitChanges">Commit Changes</button>

        <button type="button" id="logOut">Log Out</button>
      </div>
    </div>
    <script src="account.js"></script>
  </body>
</html>
